# DateTime

In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [3]:
print(t)

05:25:01

### hour,minute, and second

In [4]:
t.hour

5

In [5]:
t.minute

25

In [6]:
t.second

1

### times min, max, and resolution

In [7]:
print(datetime.time.min) #earliest time

00:00:00

maximum date possible

In [8]:
print(datetime.time.max) #max

23:59:59.999999

the minimal difference noted is called resolution

In [9]:
print(datetime.time.resolution) #we can get upto this time resolution as microseconds

0:00:00.000001

### todays date

In [10]:
today = datetime.date.today()

In [11]:
print(today)

2020-04-19

today also provides time details with the named tuple

In [12]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=4, tm_mday=19, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=110, tm_isdst=-1)

In [13]:
today.month

4

### date's min, max, resolution

In [14]:
print(datetime.date.min)

0001-01-01

In [15]:
print(datetime.date.max)

9999-12-31

In [16]:
print(datetime.date.resolution)

1 day, 0:00:00

### replace

In [17]:
d1 = datetime.date.today()

In [18]:
d1.replace(year=2018)

datetime.date(2018, 4, 19)

In [19]:
print(d1)

2020-04-19

In [20]:
type(d1)

datetime.date

also assign and modify dates

In [21]:
d2 = datetime.date(2015,10,11)

In [22]:
type(d2)

datetime.date

In [23]:
d2.replace(year = 2020)

datetime.date(2020, 10, 11)

### difference in date

In [24]:
d1-d2

datetime.timedelta(days=1652)