# List

 they are mutable

### Create list

In [1]:
my_list = [1,2,3]

In [2]:
#can contain different data types
my_list=['String',1,8.9]

In [3]:
len(my_list)

3

### Slicing and indexing

In [4]:
my_list[0]

'String'

In [5]:
my_list[1:]

[1, 8.9]

In [6]:
my_list

['String', 1, 8.9]

In [7]:
another_list = ["four","five"]

In [8]:
#concatinating list
new_list = my_list + another_list
new_list

['String', 1, 8.9, 'four', 'five']

In [9]:
new_list[0] = "string".upper() #list are mutable, unlike string

In [10]:
new_list

['STRING', 1, 8.9, 'four', 'five']

In [11]:
# Make the list double
new_list*2

['STRING', 1, 8.9, 'four', 'five', 'STRING', 1, 8.9, 'four', 'five']

In [12]:
#doubling is not permanent
new_list

['STRING', 1, 8.9, 'four', 'five']

##### list better than array

they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint

In [13]:
new_list.append("10")#adding item at last
new_list

['STRING', 1, 8.9, 'four', 'five', '10']

In [14]:
popped = new_list.pop()#removing from last
print(popped)
new_list

10

['STRING', 1, 8.9, 'four', 'five']

In [15]:
new_list

['STRING', 1, 8.9, 'four', 'five']

In [16]:
new_list.pop(0)

'STRING'

In [17]:
new_list.pop()

'five'

In [18]:
new_list

[1, 8.9, 'four']

In [19]:
new_list.pop(-1)

'four'

In [20]:
new_list

[1, 8.9]

In [21]:
#if no elements than it will result to error
new_list[100]

IndexError: list index out of range

In [22]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [23]:
#doesnot return anything but sorts
#inplace sorting, means doesnot need to be placed in any other variable
new_list.sort()
my_new_list = new_list.sort()

print(type(my_new_list))
print(new_list)

<class 'NoneType'>
['a', 'b', 'c', 'e', 'x']

In [24]:
num_list.sort()
num_list

[1, 3, 4, 8]

In [25]:
num_list.reverse()
num_list

[8, 4, 3, 1]

###### list are like strings, we can index or slice them buut unlike strings we can add replace values in particular indexes

### Nesting lists

one data structure can contain another data structure

In [26]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [27]:
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
matrix[0][0]

1

### List comprehension

In [29]:
second_col = [row[1] for row in matrix]
second_col

[2, 5, 8]

In [30]:
second_row = [row for row in matrix ] 
second_row

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Advanced

In [31]:
l = [1,2,3,5,6,7,6,5]

In [32]:
l.append(4)

In [33]:
l

[1, 2, 3, 5, 6, 7, 6, 5, 4]

In [34]:
l.count(10)

0

In [35]:
l.count(5)

2

In [36]:
x = [1,2,3]

In [37]:
# appending to element in x
x.append([4,5])

In [38]:
x

[1, 2, 3, [4, 5]]

In [39]:
x.extend([6,7])

In [40]:
x

[1, 2, 3, [4, 5], 6, 7]

In [41]:
#above is same as
x += [8,0]

In [42]:
x

[1, 2, 3, [4, 5], 6, 7, 8, 0]

In [43]:
l.index(2)

1

In [44]:
l.index(9) # not in list so error

ValueError: 9 is not in list

In [45]:
#insert "inserted" in the 2nd index
l.insert(2,'inserted')

In [46]:
l

[1, 2, 'inserted', 3, 5, 6, 7, 6, 5, 4]

In [47]:
ele = l.pop()

In [48]:
ele

4

In [49]:
# change is inplace
l

[1, 2, 'inserted', 3, 5, 6, 7, 6, 5]

In [50]:
l.pop(1)

2

In [51]:
l

[1, 'inserted', 3, 5, 6, 7, 6, 5]

In [52]:
l.append('inserted')

In [53]:
l

[1, 'inserted', 3, 5, 6, 7, 6, 5, 'inserted']

In [54]:
 #removes first occurance of the list
l.remove('inserted')

In [55]:
l

[1, 3, 5, 6, 7, 6, 5, 'inserted']

In [56]:
#inplace so affects list permanently
l.reverse()

In [57]:
l

['inserted', 5, 6, 7, 6, 5, 3, 1]

In [58]:
#can only be if one type of elemets exists in list
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [59]:
l.pop()

1

In [60]:
l.pop(-1)

3

In [61]:
l.pop(0)

'inserted'

In [62]:
l

[5, 6, 7, 6, 5]

In [63]:
l.sort()

In [64]:
l

[5, 5, 6, 6, 7]

### List is inplace and modified cannot be assigned to another variable

A common programming mistake is to assume you can assign a modified list to a new variable. While this typically works with immutable objects like strings and tuples:

In [65]:
y = "This is it"

In [66]:
x = y.upper()

In [67]:
x

'THIS IS IT'

In [68]:
a=[1,2,3,4]

In [69]:
y = a.append(5)

In [70]:
print(y)

None

for this we should assign a copy to another variable first

In [71]:
x = [1,2,3]
y = x.copy()
y.append(4)

In [72]:
y

[1, 2, 3, 4]

In [73]:
x

[1, 2, 3]