###### they are unordered collections of unique elements

### Create set

In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)
myset

{1, 2}

In [6]:
# doesnot get added bcoz already been added oncce
myset.add(2)
myset

{1, 2}

In [7]:
myset

{1, 2}

### List to set

useful when casting a list to set to only get unique elements

In [73]:
mylist=[1,1,1,3,3,3,2,2,2,2]

In [74]:
set(mylist)# doesnot have order

{1, 2, 3}

### clear

In [24]:
s = {1,2,3,4}

In [25]:
#empries the set
s.clear()

In [26]:
s

set()

### copy

In [27]:
s = {'a','b','c','d'}

In [28]:
sc = s.copy()

In [29]:
sc

{'a', 'b', 'c', 'd'}

operation in s or sc doesnot affect one another

In [30]:
sc.add('e')

In [31]:
s

{'a', 'b', 'c', 'd'}

In [32]:
s.add(4)

### difference

In [33]:
s

{4, 'a', 'b', 'c', 'd'}

In [34]:
sc

{'a', 'b', 'c', 'd', 'e'}

In [35]:
s.difference(sc)

{4}

### difference update

In [36]:
s1 = {1,2,3,4,9,10}

In [37]:
s2 = {4,5,9}

In [38]:
#the elements different in s1 and s2 get updated as values of s1
s1.difference_update(s2)

### discard

In [39]:
s1

{1, 2, 3, 10}

In [40]:
s2

{4, 5, 9}

In [41]:
#remove element
s1.discard(3)

In [42]:
s1

{1, 2, 10}

### intersection

In [43]:
a3={12,23}
a4={12,14}

In [44]:
a3.intersection(a4)

{12}

### intersection update

In [46]:
#a3 gets updated by the interesection elements of a3 and a4
a3.intersection_update(a4)

In [47]:
a3

{12}

In [49]:
#nothing changes in a4
a4

{12, 14}

### disjoint

In [52]:
s1 = {1,2}
s2={1,2,4}
s3 = {5}

In [53]:
#it has intersection so true
s1.isdisjoint(s2)

False

In [54]:
s1.isdisjoint(s3) # no common

True

### subset, superset

In [55]:
s2.issubset(s1)

False

In [56]:
s1.issubset(s2)

True

In [57]:
s2.issuperset(s1)

True

### Symmeteric difference, symmetric_difference_update

In [61]:
print("s1-> ",s1)
print("s2-> ",s2)

s1->  {1, 2}
s2->  {1, 2, 4}

In [64]:
#element in one of the set
s1.symmetric_difference(s2)

{1, 2}

In [65]:
#updates s1 wi2th symmeteric difference
s1.symmetric_difference_update(s2)

In [66]:
s1

{1, 2}

### update

In [76]:
s1= {1,2}
s2={3}

In [77]:
s1.union(s2)

{1, 2, 3}

In [79]:
#doesnot change either s1 or s2
s1

{1, 2}

In [80]:
s2

{3}